.calculation-card {
    width: 90%;
    background-color: #e6e6e6;
    height: fit-content;
    margin: auto;
    margin-top: 4%;
    padding: 0.5%;
    padding-left: 5%;
    box-sizing: border-box;
    padding-bottom: 1%;
    font-size: 3ch;
    border-radius: 6px;
}

div.card-title > h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.card-title {
    margin-left: 0%;
    margin-top: 4%;
}
.input-field {
    width: 90%;
    height: 1.01cm;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: #47525E;
    border-style: solid;
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 0.9em;
    padding-left: 3%;
}

@media (min-width: 1000px){ 
    .input-container {
        float: left;
        width: 50%;
        margin-top: 6%;
        flex-direction: column;
    }
    .input-container input {
        width: 50%;
    }
    
    .calculate-button {
        margin: 2%;
        margin-top: 5%;
        margin-left: 0;
        width: 25%;
        height: 1.2cm;
        background-color: #47525E;
        color: white;
        border-radius: 7px;
        border-color: #47525E;
        font-size: large;
    }
    div.calculation-card {
        width: 70%;
    }
    
    }

@media (max-width: 1000px){
form button {
    width: 85%;
    height: 1.2cm;
    background-color: #47525E;
    color: white;
    border-radius: 7px;
    border-color: #47525E;
    font-size: large;
    margin-left: 5%;
    margin-top: 0%;
}

div.calculation-card {
    width: 95%;
    padding-left: 5%;
}

div.calculation-card h1 {
    margin-left: 3%;
    font-size: 1.2em;
    margin-bottom: 10%;
    margin-top: 5%;
}

div#float-container {
    width: 95%;
    margin: auto;
}
}
