<div class="calculation-card">
    <div class="card-title">
        <h1>{{title}}</h1>    
    </div>
    <form [formGroup]="form">
        <div id="float-container" >
            <div [ngClass]="keys.length == 1 ? 'one-item-input-container' : ''" class="input-container" *ngFor="let value of keys">
                <label for="{{value}}">{{value}}</label>
                <br>
                <input type="number" class="input-field" id="{{value}}" formControlName="{{value}}">
            </div>
        </div>    
        
        
        <button [ngClass]="keys.length == 1 ? 'one-item-calculation-button' : ''" class="calculate-button little-button" (click)="calculate(form)">Calcular</button>
    </form>
    
</div>
