@media(min-width: 1000px) {
    .page-title {
        margin-left: 15%;
        margin-top: 5%;
        font-size: 2.5em;
        font-weight: 500;
    }
    }

@media (max-width: 1000px){
.page-title {
    margin-left: 3%;
    margin-top: 5%;
    font-size: 2em;
    font-weight: 500;
}
}