@media(min-width: 1000px) {
    .page-title {
        margin-left: 15%;
        margin-top: 5%;
        font-size: 2.5em;
        font-weight: 500;
    }
    }

@media (max-width: 1000px){
.page-title {
    margin-left: 3%;
    margin-top: 5%;
    font-size: 2em;
    font-weight: 500;
}

div.result-div {
    width: 95%;
    font-size: large;
    padding-left: 4%;
    padding-top: 3%;
    margin-top: 2%;
}

.result-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #e6e6e6;
    width: 70%;
    margin-top: 0.7%;
    padding: 1%;
    padding-top: 1.4%;
    font-size: 1.7em;
    box-sizing: border-box;
    border-radius: 6px;
}

}