@media(min-width: 1000px) {
    .page-title {
        margin-left: 15%;
        margin-top: 5%;
        font-size: 2.5em;
        font-weight: 500;
    }
    .page-subtitle {
        margin-left: 15%;
        margin-top: 1%;
        margin-bottom: 1%;
    }    
}

@media (max-width: 1000px){
.page-title {
    margin-left: 3%;
    margin-top: 5%;
    font-size: 2em;
    font-weight: 500;
}

.page-subtitle {
    margin-left: 3%;
}   

div.result-div {
    width: 95%;
    font-size: large;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}


.div-explanation-button button{
    margin-left: 15%;
    margin-top: 1%;
    background-color: white;
    border-radius: 7px;
    font-size: large;
    width: 70%;
    height: 1.2cm;
    border-color: #47525E;
}

}
.result-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #e6e6e6;
    width: 70%;
    margin-top: 0.7%;
    padding-left: 1%;
    padding-top: 0%;
    font-size: 1.7em;
    box-sizing: border-box;
    border-radius: 6px;
}

.result-div p {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.copy-button, i {
    margin-left: 01%;
    margin-top: 1.5%;
    height: 10%;
}



.explanation-card {
    background-color: white;
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.7em;
    line-height: 140%;
}

.explanation-card h2 {
    font-size: 1.2em;
    margin-bottom: 3%;
} 

.show-explanation-button {
    margin-left: 15%;
    margin-top: 1%;
    background-color: white;
    border-radius: 7px;
    font-size: large;
    width: 18%;
    height: 1.2cm;
    border-color: #47525E;
}