 <div id="header">
    <div id="title">
        <h1>Plataforma matemática</h1>
    </div>
</div>
<div id="main-div-links">
    <div id="div-links">
        <!--<p>Home</p> -->
        <!--<p (click)="redirectToDate()" style="cursor: not-allowed">Datas</p>-->
        <p (click)="redirectToInterest()">Juros</p>
        <p (click)="redirectToPercentage()">Porcentagem</p>
        <p (click)="redirectToFactorial()">Fatorial</p>       
        <p (click)="redirectToPrivacyPolicy()">Política de privacidade</p>
        <p (click)="redirectToUseTerms()">Termos de uso</p>
        <!--       <p>Comunidade</p> 
        <p>Fórmulas personalizadas</p> -->
    </div>    
</div>