#header { 
    width: 100%;
    height: 23%;   
    background-color: #3a3cff;
    color: white; 
    box-sizing: border-box;
    align-items: center;
    position: relative;
    align-items: center;
    
}

#title {
    font-weight: 100;
    text-align: center;
    position: absolute;
    margin-left: 21.5%;
    margin-top: 5%;    
    font-size: 20em;
}

h1 {
    font-size: 0.2em;
    font-weight: 500;
}

#div-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: fit-content;
    margin-bottom: 3px;
    font-size: 1.2em;
    font-weight: 450;
    width: 57%;
    margin: auto;
}

p {
    margin: 0px;
    cursor: not-allowed;
}

#main-div-links {
    background-color: #3a3cff;
}

@media (max-width: 950px) {
    div#title {
        font-size: 15em;
        margin-left: 15%;
        margin-top: 20%;
    }
    div#main-div-links div {
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 500px) {
    div#title {
        font-size: 11em;
        margin-left: 15%;
        margin-top: 20%;
    }
    div#main-div-links div {
        justify-content: space-between;
        width: 100%;
        font-size: 0.9em;
    }

}    