<app-header></app-header>

<app-card-calculation [form]="diferenceBetweenDatasForm" (resultObject)="calculateDiferenceBetweenDates($event)" [title]="title"></app-card-calculation>

<app-card-calculation [form]="diferenceBetweenDatasForm" (resultObject)="calculateDiferenceBetweenDates($event)" [title]="title"></app-card-calculation>

<app-card-calculation [form]="diferenceBetweenDatasForm" (resultObject)="calculateDiferenceBetweenDates($event)" [title]="title"></app-card-calculation>

<app-footer></app-footer>