<app-header></app-header>

<h1 class="page-title">Cálculo de juros</h1>

<app-card-calculation [title]="title" [form]="calculationForm" (resultObject)="calculate($event)"></app-card-calculation>

<div class="result-div" *ngIf="true">
    <p>Resultado final: {{calculationResult}}</p>
    <p>Total de juros: {{interestCalculationResult}}</p>
</div>

<div id="div-explanation-button">
    <div class="explanation-card" *ngIf="showExplanation" >
        <h2>Como funciona o cálculo de juros compostos</h2>
        <p> O cálculo de juros compostos consiste em somar o montante inicial com o valor dos juros e aplicação definidos para cada período,
             de forma que os juros dos períodos seguintes serão calculados a partir da soma dos juros dos períodos anteriores. O resultado pode ser extraído através da seguinte fórmula:</p>
    
        <p>
            Consiste em uma soma composta, em que para cada período é adicionado ao montante o aporte por período e os juros sobre o montante, de forma que no próximo período os juros sejam calculados levando em consideração os juros adicionados ao último período.
    
        </p>    
    </div>
    <button (click)="changeShowExplanation()"  class="show-explanation-button">Mostrar Explicação</button>    
</div>

<app-footer></app-footer>
