



/*
#float-container:after {
    content: "";
    display: flex;
    clear: both;
    flex-direction: column;
}
*/

@media(min-width: 1000px) {
.page-title {
    margin-left: 15%;
    margin-top: 5%;
    font-size: 2.5em;
    font-weight: 500;
}
}

@media (max-width: 1000px){

    .page-title {
        margin-left: 3%;
        margin-top: 5%;
        font-size: 2em;
        font-weight: 500;
    }
#div-explanation-button button{
    margin-left: 15%;
    margin-top: 1%;
    background-color: white;
    border-radius: 7px;
    font-size: large;
    width: 70%;
    height: 1.2cm;
    border-color: #47525E;
}
}


.explanation-card {
    background-color: white;
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.7em;
    line-height: 140%;
}

.explanation-card h2 {
    font-size: 1.2em;
    margin-bottom: 3%;
} 


.show-explanation-button {
    margin-left: 15%;
    margin-top: 1%;
    background-color: white;
    border-radius: 7px;
    font-size: large;
    width: 18%;
    height: 1.2cm;
    border-color: #47525E;
}

.result-div {
    margin-left: 15%;
    display: flex;
    background-color: #dedbdb;
    width: 70%;
    margin-top: 0.7%;
    padding: 1%;
    padding-top: 1.4%;
    font-size: 1.7em;
    box-sizing: border-box;
    border-radius: 6px;
}

.result-div p {
    margin-right: 16%;
}

