.calculation-card {
    width: 70%;
    background-color: #F4F4F5;
    height: fit-content;
    margin: auto;
    margin-top: 8%;
    padding: 0.5%;
    padding-left: 5%;
    box-sizing: border-box;
    padding-bottom: 1%;
    font-size: 3ch;
    border-radius: 6px;
}

div.card-title > h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.card-title {
    margin-left: 0%;
    margin-top: 4%;
}
.input-field {
    width: 80%;
    height: 1.01cm;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: #47525E;
    border-style: solid;
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 0.9em;
    padding-left: 3%;
}



/*
#float-container:after {
    content: "";
    display: flex;
    clear: both;
    flex-direction: column;
}
*/


@media (min-width: 1000px){
.input-container {
    float: left;
    width: 50%;
    margin-top: 6%;
    flex-direction: column;
}
.input-container input {
    width: 50%;
}

.calculate-button {
    margin: 2%;
    margin-top: 5%;
    margin-left: 0;
    width: 25%;
    height: 1.2cm;
    background-color: #47525E;
    color: white;
    border-radius: 7px;
    border-color: #47525E;
    font-size: large;
}

}
@media (max-width: 1000px){
form button {
    width: 85%;
    height: 1.2cm;
    background-color: #47525E;
    color: white;
    border-radius: 7px;
    border-color: #47525E;
    font-size: large;
}

#div-explanation-button button{
    margin-left: 15%;
    margin-top: 1%;
    background-color: white;
    border-radius: 7px;
    font-size: large;
    width: 70%;
    height: 1.2cm;
    border-color: #47525E;
}
}


.explanation-card {
    background-color: white;
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.7em;
    line-height: 140%;
}

.explanation-card h2 {
    font-size: 1.2em;
    margin-bottom: 3%;
} 


.show-explanation-button {
    margin-left: 15%;
    margin-top: 1%;
    background-color: white;
    border-radius: 7px;
    font-size: large;
    width: 18%;
    height: 1.2cm;
    border-color: #47525E;
}

.result-div {
    margin-left: 22%;
    display: flex;
}

.result-div p {
    margin-right: 5%;
}

