.calculation-card {
    width: 57%;    
    background-color: #F4F4F5;
    height: 250px;
    margin: auto;
    margin-top: 8%;
    padding: 0.5%;
    padding-left: 5%;    
    box-sizing: border-box;
    padding-bottom: 10%;
}

.card-title {
    margin-left: 0%;
    margin-top: 4%;
}

.input-field {
    width: 50%;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: #47525E;
    border-style: solid;  
    display: block;
    margin-top: 1%;   
    height: 18px;  
    font-size: 0.7em; 
    padding-left: 3%;
}


.input-container {
    float: left;
    width: 50%;
    margin-bottom: 6%;    
}

#float-container:after {
    content: "";
    display: block;
    clear: both;
}

/*Nao utilizado*/
.calculate-button {
    margin: 2%;
    margin-top: 10%;
    margin-left: 0;
}

.explanation-card {
    background-color: white;
    width: 57%;
    height: fit-content;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 0.9em;
}