<app-header></app-header>


<mat-drawer-container>
    <mat-drawer mode="over" #drawer > 
        <div>
            <app-sidebar></app-sidebar>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button (click)="drawer.toggle()" style="background-color: white; border: 0ch; cursor: pointer;"><img src="../../../../assets/images/icons8-menu-64.png" style="background-color: white;" alt="menu-icon"></button>

        <h1 class="page-title">Fatorial</h1>

        <app-card-calculation [form]="calculationForm1" [title]="'Cálculo de número fatorial'" (resultObject)="calculate1($event)"></app-card-calculation>
        <div class="result-div" *ngIf="calculationResult1">
            <p>Resultado: {{calculationResult1}}</p> <button class="copy-button" (click)="copy(calculationResult1)">Copiar</button> <i class="material-icons" *ngIf="valueCopied == calculationResult1">check</i>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>



