<app-header></app-header>

<div class="calculation-card" style="height: 40%;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formArrayName="values" id="float-container">
            <div *ngFor="let value of values.controls; let i = index">
               <div [formGroupName]="i" class="input-container" id="input-container">
                <label for="">{{post.formula.variables[i].variableName}}</label> 
                <br>
                <input type="text" formControlName="variableValue" class="input-field" >
               </div>
            </div>
        </div>
    
        <button type="submit" class="calculate-button">Calcular</button>
    </form>
    
</div>

<div class="result-div" *ngIf="calculationResult">
    <p>Resultado: {{calculationResult}}</p> <button class="copy-button" (click)="copy(calculationResult)">Copiar</button> <i class="material-icons" *ngIf="valueCopied == calculationResult">check</i>
</div>

<div class="explanation-card" *ngIf="showExplanation">
    <p>
        {{post.formula.explanation}}
    </p>
</div>
<button (click)="showExplanation = !showExplanation"  class="show-explanation-button">Mostrar Explicação</button>

<app-footer></app-footer>