/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Lato', sans-serif;
    color: #47525E;
}

.generic-card {
    background-color: #e6e6e6;
    width: 70%;
    height: fit-content;
    margin: auto;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 8%;
}