#footer {
    background-color: #001f6c;
    width: 100%;
    height: 18%;
    margin-top: 5%;
    color: white;
    padding-top: 3%;
    margin-bottom: 0%;
}

#author-div {
    margin-left: 15%;
}

a {
    text-decoration: none;
    color: white;
}

@media(max-width: 1200px) {
    #footer {
        margin-top: 18%;
    }
}